examples/mega-agent-directory/reference-data/clone2_main_workflow.json
{
  "name": "Clone 2 - Main Workflow for Enrichment",
  "nodes": [
    {
      "parameters": {
        "url": "https://fello-ai.app.n8n.cloud/webhook/a6a490b4-701e-437f-917a-1103e7ba6f6a",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -144
      ],
      "id": "e812de1a-da6d-40f8-8e17-ea2ab412f0c9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -176,
        -16
      ],
      "id": "8fcf9a3d-8802-4343-a1f8-7b0add8be9c8",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7775f1f-5586-4af8-81fb-f396bf0cf7f3",
              "leftValue": "={{ $json.created_at }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        112
      ],
      "id": "584977ee-83eb-410c-8c7e-ec4fea60fc2a",
      "name": "If8"
    },
    {
      "parameters": {
        "content": "## Riyon's Credentials",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        320
      ],
      "id": "b5c01fab-1e60-4acd-a9d8-717398ff72b0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agents_2",
        "limit": 2,
        "filters": {
          "conditions": [
            {
              "keyName": "created_at",
              "condition": "is",
              "keyValue": "NULL"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -640,
        112
      ],
      "id": "883a2e00-2170-4e31-b65d-c6ed8bf93212",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "58NjINxjYrC0hA6P",
          "name": "Supabase Fello Innovation"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "EhrgSpSxRkktfrmW",
          "mode": "list",
          "cachedResultName": "Clone 2 - Sub Workflow for Enrichment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        528,
        48
      ],
      "id": "2f8c064e-639b-43e0-b20a-201916166951",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -816,
        112
      ],
      "id": "011b010c-b6f2-4fb4-bb73-d36cd7b86b2a",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        -144
      ],
      "id": "2cab2af5-b459-4053-bd8a-683f453aec5e",
      "name": "Limit1"
    },
    {
      "parameters": {
        "path": "a6a490b4-701e-437f-917a-1103e7ba6f6a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1008,
        112
      ],
      "id": "90d17452-12c5-42b4-8272-3a22334bb36b",
      "name": "Webhook",
      "webhookId": "a6a490b4-701e-437f-917a-1103e7ba6f6a"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "f6gk42GhnGpHInUJ"
  },
  "versionId": "fd9c5e15-b187-41ea-85b0-0d61a295ca0a",
  "meta": {
    "instanceId": "26fd748c90bc62900feac397bab512f58b7fa27c2654b5e206d337db6f8a6de3"
  },
  "id": "ZGZc0rbgnQv4kgU0",
  "tags": []
}